* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.msg-box {
	display: inline-block;
	vertical-align: top;
	width: 69%;

padding: 20px;
box-sizing: border-box;
}

.users {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	border-right: 1px solid #eee;
	padding: 20px;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.block {
	border: 2px solid #eee;
	margin: 20px auto;
	background: #fefefe;
	width: 1000px;
}

.user {
	padding: 10px 0;
	border: 1px solid #eee;
	border-width: 1px 0 0 0;
}

.user:last-child {
	border-bottom-width: 1px;
}

.count {
	float: right;
}

.img {
	border-radius: 50%;
}

.msg-box {
	text-align: center;
}

.msgs {
	text-align: left;
}

.msg {
	margin-bottom: 20px;
}

.date {
	color: #ccc;
	font-size: 12px;
}