.wot
  margin 0
  padding 0

  &__body
    padding-top 70px

  &__footer
    margin 50px 0

  &__slide

    &_image
      width 100%

  &__carousel

    &_holder
      margin-bottom 30px

      & .carousel-inner

        & .item
          border-radius 4px

      & .carousel-control
        border-radius 4px

  &__caption
    height 130px
    overflow hidden

    & h4
      white-space nowrap

  &__thumbnail
    padding 0

    & img
      width 100%

    & .caption-full
      padding 9px
      color #333

  &__ratings
    padding-right 10px
    padding-left 10px
    color #d17581
