.wot {
  margin: 0;
  padding: 0;
}
.wot__body {
  padding-top: 70px;
}
.wot__footer {
  margin: 50px 0;
}
.wot__slide_image {
  width: 100%;
}
.wot__carousel_holder {
  margin-bottom: 30px;
}
.wot__carousel_holder .carousel-inner .item {
  border-radius: 4px;
}
.wot__carousel_holder .carousel-control {
  border-radius: 4px;
}
.wot__caption {
  height: 130px;
  overflow: hidden;
}
.wot__caption h4 {
  white-space: nowrap;
}
.wot__thumbnail {
  padding: 0;
}
.wot__thumbnail img {
  width: 100%;
}
.wot__thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
.wot__ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}
